{% extends 'products/product/base.html' %}

{% block content %}
<div class="container my-5">
    <div class="row">
        <div class="col-lg-6">
            <h1>{{ product.brand }} {{ product.model }}</h1>

            <img src="{{ product.photo.all.0.image.url }}" alt="Product Image" width="300">

            <p><strong>Price:</strong> ${{ product.price }}</p>

            <p><strong>Description:</strong> {{ product.description }}</p>

            <p><strong>Category:</strong> {{ product.category }}</p>

            <p><strong>Author:</strong> {{ product.author }}</p>
        </div>
    </div>
</div>
{% endblock %}
